<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin info</title>
  </head>
  <style>
  body{
    background-image: url(../static/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;

  }
  h1{
    padding-left: 50px;
    font-weight: bold;
    color:brown;
    font-size: 50px;
  }
  h2{
    padding-left: 80px;
    font-weight: bold;
    color:brown;
    font-size: 40px;
  }

  </style>
  <body>
    <h1>Contact admin</h1>
    <h2>8150019318</h2>
    <h2>ajeynaik04@gmail.com</h2>
    <h1><a href="{{url_for('home')}}" style="color:skyblue">Go to Home Page</a></h1>
  </body>
</html>
